.basket-section {
    padding-top: 200px;
    padding-bottom: 150px;

    .basket-title {
        font-size: 30px;
        line-height: 60px;
    }

    .bottom-border {
        border-bottom: 1px solid rgba($darkgray, 0.4) !important;
    }

    .top-border {
        border-top: 1px solid rgba($darkgray, 0.4) !important;
    }

    .cart-table-header {
        font-size: 14px;
        line-height: 19px;
    }

    .qty-selector {
        width: 100px;
        @media #{$lg} {
            width: 50px;
        }
    }

    .cart-summary {
        margin-top: 44px;

        @media #{$md} {
            margin-top: 0;
            border-top: none !important;
        }
    }

}