.blog-section {
    padding-top: 80px;
    padding-bottom: 120px;
    .filter-button-group {
        margin-bottom: 80px;
        &::-webkit-scrollbar {
            display: none;
        }
        .btn-filter {
            background-color: transparent;
            color: $theme-primary !important;
            border: 1px solid $theme-primary !important;
            white-space: nowrap;

            &.active,
            &:hover {
                background-color: $theme-primary;
                color: $white !important;
            }
        }
    }
}