.btnA {
  height: 55px;
  border-radius: $radius30;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-flex;
  align-items: center;
}
.btnB {
  height: 22px;
  display: inline-flex;
  border-radius: $radius5;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.green-bg-btn {
  font-size: 18px;
  line-height: 22px;
  background-color: $theme-primary;
  color: $white;
  border: 1px solid transparent;
  .green-arrow {
    display: none;
  }
  &:hover {
    .right-arrow{
      transform: translateX(5px);
    }
    .green-arrow {
      display: block;
    }
    .white-arrow {
      display: none;
    }
    background-color: transparent;
    border: 1px solid $theme-primary;
    color: $theme-primary;
  }
}
.orange-bg-btn {
  background-color: $orange-btn-bg;
  color: $white;
  font-size: 13px;
  line-height: 13px;
}
.pink-bg-btn {
  background-color: $pink-btn-bg;
  color: $theme-primary;
  border: 1px solid transparent;
  .white-arrow {
    display: none;
  }
  &:hover {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    .right-arrow{
      transform: translateX(5px);
    }
    .white-arrow {
      display: block !important;
    }
    .green-arrow {
      display: none !important;
    }
  }
}
.link-btn{
    &:hover {
    .right-arrow{
      transform: translateX(5px);
    }
  }
}
.highlight-btn {
  background-color: $theme-primary;
  color: $white;
  font-size: 10px;
  line-height: 13px;
}
.right-arrow {
  width: 24px;
  height: 24px;
}

