.faq-page {
  .faq-section {
    padding-top: 200px;
    padding-bottom: 140px;

    .section-header {
      margin-bottom: 100px;
      @media #{$sm}{
        margin-bottom: 60px;
      }
    }

    .all-faq-btn {
      margin-top: 80px;
    }
  }
}

.faq-section {
  padding-top: 150px;
  padding-bottom: 70px;

  @media #{$lg} {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .heading {
    line-height: 60px;

    @media #{$sm} {
      line-height: 55px;
    }
  }
}

.accordian-block {
  .heading {
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 30px;
  }


  .closet-accordion {
    &:last-child {
      border-bottom: 1px solid #14141440;
    }

    .closet-item {

      .closet-header {
        padding-top: 35px;
        padding-bottom: 35px;
        border-top: 1px solid #14141440;
        cursor: pointer;

        @media #{$sm} {
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .closet-header-title {
          font-size: 20px;
          line-height: 24px;

          @media #{$sm} {
            font-size: 16px;
          }
        }

        .accordion-close {

          img {
            height: 24px;
          }
        }

        &.active {
          .accordion-close {
            transform: rotate(180deg);
          }
        }
      }

      .closet-content {
        display: none;
        padding-bottom: 35px;
      }
    }

  }
}