@font-face {
    font-family: "instrumentsans-regular";
    src: url("../fonts/instrumentsans-regular.ttf");
}
@font-face {
    font-family: "instrumentsans-medium";
    src: url("../fonts/instrumentsans-medium.ttf");
}
@font-face {
    font-family: "nunito-light";
    src: url("../fonts/nunito-light.ttf");
}
@font-face {
    font-family: "nunito-medium";
    src: url("../fonts/nunito-medium.ttf");
}
@font-face {
    font-family: "nunito-semibold";
    src: url("../fonts/nunito-semibold.ttf");
}
.inst-regular {
    font-family: "instrumentsans-regular";
}
.inst-medium {
    font-family: "instrumentsans-medium";
}
.nunito {
    font-family: "nunito-light";
}
.nunito-medium {
    font-family: "nunito-medium";
}
.nunito-semibold {
    font-family: "nunito-semibold";
}