footer {
  padding-top: 45px;
  padding-bottom: 30px;
  .footer-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 36px;
  }
  .insta-post-img {
    height: 360px;
    border-radius: $radius10;
  }
  .insta-post-slider {
    .slick-list {
      margin-left: -5px;
      margin-right: -5px;
      .slick-slide {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .newsletter-img {
    height: 669px;
    border-radius: $radius10;
    @media #{$md} {
      height: 400px;
      margin-bottom: 30px;
    }
  }
  .news-letter-box {
    bottom: 72px;
    .title {
      font-size: 30px;
    }
    .newsletter-inst {
      font-size: 14px;
    }
    input {
      height: 52px;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.3019607843);
      backdrop-filter: blur(15px);
      background-color: transparent;
      font-size: 14px;
      padding: 10px;
      outline: none;
      &::placeholder {
        color: $white;
      }
    }
    .arrow-icon {
      right: 20px !important;
    }
  }
  .contact-box {
    padding-bottom: 60px;
    border-bottom: 1px solid #ffffff40;
  }
  .footer-navlinks {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ffffff40;
    .footer-link {
      font-size: 16px;
      color: #ffffffb3;
    }
  }
  .social-icon-block {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff40;
    .social-icon {
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
      img {
        height: 24px;
      }
    }
  }
  .card-icons {
    .payment-icon {
      height: 24px;
    }
  }
  .copyright-text {
    color: #ffffffb3;
    font-size: 16px;
  }
  .devlopby-text {
    color: #ffffffb3;
    font-size: 16px;
  }
}
