.offcanvas-header {
    .offcanvas-title {
        font-size: 30px;
        line-height: 60px;
    }

    .btn-close {
        background-size: 24px;
    }
}

.offcanvas-header,
.offcanvas-body {
    padding-left: 40px;
    padding-right: 60px;
    @media #{$sm}{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-close {
    background-size: 12px;
    opacity: 0.5;
    margin-right: 5px !important;

    &:hover {
        opacity: 1;
    }
}

.btn-remove {
    width: 16px;
    height: 16px;
    &.remove-position{
        top: 26px;
    }

    &:hover {
        opacity: 1;
        color: $theme-primary !important;
    }
}

// the Background Blur Effect
.offcanvas-backdrop.show {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
}

// size guide offcanvas
.size-guide-offcanvas {
    width: 640px !important;

    .offcanvas-body {
        .size-guide-img {
            height: 400px;
        }

        .description {
            font-size: 18px;
            line-height: 28px;
        }

        .guide-title {
            font-size: 15px;
            line-height: 50px;
        }

        .measurements-list {
            .size {
                font-size: 20px;
                line-height: 24px;
            }

            .size-desc {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .measurements-list {
        .list-wrapper {
            border-top: 1px solid rgba($darkgray, 0.4) !important;
        }
    }

}

// mini cart offcanvas
.mini-cart-offcanvas {
    background-color: $theme-secondary;
    width: 500px !important;

    .offcanvas-body {
        .cart-items {
            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba($gray, 0.3);
                border-radius: 4px;
            }


        }

        .cart-footer {

            .view-cart-text {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

}

.cart-item {
    .item-img {
        width: 75px;
        // height: 75px;
    }

    .item-details {
        .title {
            font-size: 16px;
            line-height: 22px;
        }

        .meta {
            font-size: 14px;
            line-height: 18px;
            opacity: 0.5;
        }

        .btn-qty,
        .qty-num,
        .price {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.subtotal-text {
    font-size: 18px;
    line-height: 24px;
}

.subtotal-price {
    font-size: 28px;
    line-height: 34px;
}

.tax-note {
    background-color: #F0F0F0;
    border-radius: $radius10;
    margin-bottom: 40px;
}