.product-open-page {
  .product-open-section {
    padding-top: 218px;
    padding-bottom: 135px;

    .right-arrow {
      transform: rotate(180deg);
    }

    .product-breadcrumb {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.43px;

      span {
        color: #1a554380 !important;
      }
    }

    .back-btn {
      font-size: 16px;
      line-height: 24px;
    }

    .gallery-image {
      height: 358px;
      border-radius: $radius10;
    }

    .product-title {
      font-size: 50px;
      line-height: 69px;
      @media #{$lg} {
        font-size: 42px;
        line-height: 55px;
      }
      @media #{$sm} {
        font-size: 34px;
        line-height: 45px;
      }
    }

    .sell-price {
      font-size: 26px;
      line-height: 32px;
    }

    .regular-price {
      font-size: 18px;
      line-height: 22px;
    }

    .product-content {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 45px;
    }

    .color-title {
      font-size: 16px;
      line-height: 20px;
    }

    .yellow-variation-btn,
    .gray-variation-btn {
      height: 60px;
      width: 60px;
    }

    .counter-box {
      height: 55px;
      border: 2px solid #1a5543;
      border-radius: 50px;
    }

    .cart-btn-box {
      margin-bottom: 85px;

      .add-to-cart-btn {
        right: 0;
        padding-left: 139px;
        padding-right: 139px;
        @media #{$lg} {
          padding-left: 60px;
          padding-right: 60px;
        }
        @media #{$sm} {
          padding-left: 30px;
          padding-right: 30px;
        }

        &:hover {
          .white-basket {
            display: none;
          }

          .green-basket {
            display: block !important;
          }
        }
      }
    }

    .suggest-box {
      margin-bottom: 100px;

      .suggest-title {
        font-size: 25px;
        line-height: 50px;
      }

      .suggest-img {
        // height: 78px;
        width: 75px;
        border-radius: 5px;
        // width: 75px;
      }

      .title {
        font-size: 16px;
        line-height: 22px;
      }

      .price {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .left-right-section {
    .story-heading {
      line-height: 28px;
    }
  }
}
